# LangChain Core
langchain
langchain-core

# Needed for learning purposes, even tho its about to be put down
langchain-community
langchain-experimental

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# ML/DL Utilities
numpy
scikit-learn
torch

# structured output
pydantic